<app-content-header title="Productos"></app-content-header>

<app-content>
  <div class="card">
    <div class="card-body p-0">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 10px">Código</th>
            <th>Nombre</th>
            <th>Existencias</th>
            <th style="width: 40px">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>Update software</td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
              </div>
            </td>
            <td><span class="badge bg-danger">55%</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-content>
