<app-content-header>
  <div class="col-sm-6">
    <h1>
      Productos
      <a routerLink="new" style="color: black; font-size: smaller;">
        <i class="fas fa-plus"></i>
      </a>
    </h1>
  </div>
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item active">Productos</li>
    </ol>
  </div>
</app-content-header>

<app-content>
  <div class="card">
    <div class="card-body p-0">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th style="width: 10px">Código</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th style="width: 40px">Existencias</th>
            <th style="width: 40px">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items | async">
            <td>{{ item.code }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.existencias }}</td>
            <td><span class="badge bg-danger">55%</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-content>
