<div class="row bg-light text-center justify-content-center" style="min-height: 100vh; margin: 0 !important;">
  <div class="col align-self-center fill-sm">
    <div class="card mt-5 mb-5">
      <div class="card-body">
        <img class="img-fluid" src="assets/logo/logo-128x128.png" alt="App Logo" />
        <h3 class="card-title" id="msg-hello-world">
          Hola mundo!
        </h3>
        <p id="msg-upcoming"><b>Próximamente:</b> Haz tus pedidos en nuestra aplicación</p>
      </div>
    </div>
  </div>
</div>
