<div class="row text-center justify-content-center" style="min-height: 100vh; margin: 0 !important;">
  <div class="col align-self-center fill-sm">
    <div class="card mt-5 mb-5">
      <div class="card-body">
        <img class="img-fluid" src="assets/logo/logo-128x128.png" alt="App Logo" />
        <h3 class="card-title" id="msg-hello-world">
          Hola mundo!
        </h3>
        <p id="msg-upcoming"><b>Próximamente:</b> Gestiona inventario, ventas y compras en nuestra aplicación</p>
        <a href="https://angelxehg.github.io/buffette-app">Ver documentación</a>
      </div>
    </div>
  </div>
</div>
