<div class="card-body login-card-body">
  <p class="login-box-msg">Inicia sesión para continuar</p>
  <!-- <form action="../../index3.html" method="post"> -->
  <div class="input-group mb-3">
    <input type="email" [disabled]="mode !== 'input'" class="form-control" placeholder="Correo electrónico">
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-envelope"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <input type="password" [disabled]="mode !== 'input'" class="form-control" placeholder="Contraseña">
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  <p *ngIf="this.mode === 'wait'" class="text-secondary">Iniciando...</p>
  <button class="btn btn-primary btn-block" *ngIf="mode === 'input'" (click)="login()">Iniciar sesión</button>
  <p class="mb-1" *ngIf="mode === 'input'">
    <a routerLink="/sales">Recuperar contraseña</a>
  </p>
</div>
